<body>
  <section class="row">
    <div class="col-md-3">

      
    </div>
    <br>
    <div class="col-md-6">
      <h1>Welcome to the Card and Board Game Dungeon. </h1>
      <br><br><br>
      <h3 style="text-align: center;">

        To get started go straight to Go! and collect $200. <br><br><br>
      </h3>
        <a href="/login" class="btn btn-success btn-lg" style="margin-left: 45%;">Go!</a>

    </div>
    <div class="col-md-6">


    </div>

  </section>
</body>