
<div class="col-md-6">
  
</div>
<div class="col-md-6 mx-auto">
<h2 style="margin-left: 20%;">Login</h2>
<!-- Log in -->
<form class="form login-form">
  <div class="form-group">
    <label for="user-login">Username:</label>
    <input class="form-input" type="text" id="user-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div><br>
  <div class="form-group">
    <button class="btn btn-primary" style="margin-left: 20%;" type="submit">Login</button>
  </div>
</form>

<!-- Sign up -->
<br><br>
<h2 style="margin-left: 20%;">Sign Up</h2>
<form class="form signup-form">
  <div class="form-group">
    <label for="user-signup">Username:</label>
    <input class="form-input" type="text" id="user-signup" />
  </div>
  <div class="form-group">
    <label for="password-signup">Password:</label>
    <input class="form-input" type="password" id="password-signup" />
  </div><br>
  <div class="form-group">
    <button class="btn btn-primary" style="margin-left: 20%;" type="submit">Signup</button>
  </div>
</form>

</div>
<div class="col-md">

</div>




<script src="/js/login.js"></script>