<div>
    <h2>
        Profile
    </h2>
</div>

<div>
    <a href="/main">
      <h2>
        Home
      </h2>
    </a>

    <div>
        <h3>
            Liked Games
        </h3>
        <nav>
            <button class="btn" id="addgame">Add a game</button>
        </nav>
    </div>
</div>